body {
    font-family: 'Merriweather', serif;
}

.navbar-brand img {
    height: 50px;
}

.nav-link {
    font-family: 'Mate SC', serif;
    font-size: 1.2em;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

#home {
    padding: 3em 0;
}

.service img {
    max-width: 100%;
    border-radius: 50%;
    transition: transform 0.3s;
}

.service img:hover {
    transform: scale(1.1);
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

#scrollToTopBtn {
    position: fixed;
    bottom: 2em;
    right: 2em;
    display: none;
    z-index: 1000;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 1em 0;
}
